<!-- post/show -->
<% if favorite %>
  <%= link_to image_tag('album_sub_love_hover.png', :'data-toggle'=>'tooltip', style: :'margin-top:5px;', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛'), post_favorite_path(@post, favorite), :method => :delete, :remote => true %>
<% else %>
  <%= link_to image_tag('album_sub_love.png', :'data-toggle'=>'tooltip',style: :'margin-top:5px;', :'data-placement'=>'auto bottom', :title=>'將此相簿加入我的最愛'), post_favorites_path(@post), :method => :post, :remote => true %>
<% end %>

<!-- <div class="favorite_count" style="display:inline;color:gray;font-size:18px;"> -->
	<% if @post.favorites.count > 0 %>
		  <span><%= @post.favorites.count %></span>
	<% else %>
	<% end %>
<!-- </div> -->