<%= render 'layouts/nav' %>
<div class="container">
  <div class="row1" style="width: 100px;margin:0 auto;">
    <%= image_tag current_user.image, :style=>"height:100px;border-radius:4em;margin-top:30px"%>
  </div>

  <div style="text-align: center;">
    <div class="user_show_divider">
      <span calss="user_show_username"><%= current_user.name %></span>
    </div>
  </div>

  <div style="width:40%;margin:0px auto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis iste libero non sint ex est nesciunt, consequuntur animi ea sunt amet eos sed maxime adipisci ad, accusantium velit cupiditate doloribus nisi! Est architecto ipsa esse dolorem omnis. Eius sapiente adipisci id aperiam impedit eveniet ut reprehenderit, recusandae nobis tenetur repudiandae nostrum nisi! Voluptates quod accusantium quis id, provident vitae doloribus ut repellat obcaecati sint dolorum. Consequuntur nobis sint dicta tenetur veritatis a assumenda, quod eligendi numquam ducimus eius hic la.</div>

  <div style="border-width:1px;border-style:dotted none;border-color:gray;padding:5px;width:40%;margin:10px auto;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sapiente debitis, autem distinctio harum incidunt corporis voluptatibus voluptas neque impedit, quis sit tempore iste adipisci assumenda placeat necessitatibus fuga facere ipsam saepe sint fugiat dolor in quaerat. Pariatur molestiae tenetur odit deleniti voluptatibus tempora alias asperiores aperiam esse? Aliquam, voluptatem!
  </div>

  <div style="width:40%;margin:0px auto;">
    <div style="width:30%;display: inline-block;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptates.
    </div>
    <div style="width:33%;display: inline-block;border-width:1px;border-style:none dotted;border-color:gray;padding-left: 5px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptates.
    </div>
    <div style="width:30%;display: inline-block;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptates.
    </div>
  </div>

  <div>
    <div class="text-center" style="margin-top: 30px;">
      <p style="color: #3a94ca;font-size:20px;">About</p>
    </div>
    <div style="width:40%;margin:0px auto;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo reiciendis perspiciatis asperiores laudantium, hic ullam porro enim nobis animi deserunt iure quis tempore. Nulla maxime nemo voluptates dolorum neque ab, nihil, placeat error quia animi recusandae quas illum libero totam excepturi, necessitatibus laborum incidunt laboriosam esse amet tenetur accusantium aliquid.
    </div>
  </div>

  <div class="text-center">
    <%= image_tag ("main_map.png"), alt: :"icon", style: :"height:60px;"%>
    <p style="color: #3a94ca;font-size:20px;">My Travel Footprint</p>
    <br>
  </div>
</div>

<!-- google map -->
<div id="map"></div>

<script>
var poly;
var map;
function initialize() {
  var my_best = [
    {
      "featureType":"all",
      "elementType":"all",
      "stylers":[
        {"invert_lightness":true},
        {"saturation":10},
        {"lightness":30},
        {"gamma":0.5},
        {"hue":"#435158"}]
      }];
  // Create an array of styles.
  var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -20 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
        { lightness: 100 },
        { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];

  // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});
  var styledMap1 = new google.maps.StyledMapType(my_best,
    {name: "My Best"});

  // Create a map object, and include the MapTypeId to add
  // to the map type control.
  var mapOptions = {
    zoom: 11,
    center: new google.maps.LatLng(-34, 151),
    // center: {lat: -34, lng: 151},
    scrollwheel: false,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style','map_style1']
    }
  }; //mapOptions

  map = new google.maps.Map(document.getElementById('map'),
    mapOptions);

  poly = new google.maps.Polyline({
    strokeColor: '#000000',
    strokeOpacity: 1.0,
    strokeWeight: 3
  });
  poly.setMap(map);

  // Add a listener for the click event
  map.addListener('click', addLatLng);

  // Associate the styled map with the MapTypeId and set it to display.
  map.mapTypes.set('map_style', styledMap);
  map.setMapTypeId('map_style');
  map.mapTypes.set('map_style1', styledMap1);
  map.setMapTypeId('map_style1');

  // google.maps.event.addDomListener(
  //         window, 'load', initialize);
}

// Handles click events on a map, and adds a new point to the Polyline.
function addLatLng(event) {
  var path = poly.getPath();

  // Because path is an MVCArray, we can simply append a new coordinate
  // and it will automatically appear.
  path.push(event.latLng);

  // Add a new marker at the new plotted point on the polyline.
  var marker = new google.maps.Marker({
    position: event.latLng,
    title: '#' + path.getLength(),
    map: map
  });
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7eo2VWtvG5qnxk2VvAJsNis4WgHHveA&callback=initialize">
</script>