<%= render 'layouts/nav' %>
<div class="container">
  <div class="col-md-6 outside_frame1">
    <div class="myself">myself</div>
  </div>
  <div class="col-md-6 outside_frame2">
    <div class="family">family</div>
  </div>
  <div class="col-md-6 outside_frame3">
    <div class="mate">mate</div>
  </div>
  <div class="col-md-6 outside_frame4">
    <div class="friend">friend</div>
  </div>
</div>
<br><br>
<ul class="nav nav-pills container">
  <li role="presentation" class="active"><a href="#">Follow</a></li>
  <li role="presentation"><a href="#">Past Post</a></li>
  <li role="presentation"><a href="#">Other Post</a></li>
</ul>
<div>
<br>
<div class="container">
  <% @posts.each do |post| %>
<!--      <div class="span4" id="post_<%= post.id %>">
  <div class="thumbnail"> -->
    <% if post.photos.first %>
    <%= link_to image_tag(post.photos.first.pic.url(:medium)), post_path(post) %>
    <% else %>
    N/A
    <!-- </div> -->
    <% end %>
    <% end %>
    <!-- </div> -->
</div>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52917.872250500215!2d-118.496078!3d34.00878900006949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf365d51a75364e8d!2sSanta+Monica+Pier!5e0!3m2!1szh-TW!2stw!4v1462205281974" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>