<%= render 'layouts/nav' %>
<div class="container">
  <div class="col-md-6 outside_frame1">
    <div class="myself">myself</div>
  </div>
  <div class="col-md-6 outside_frame2">
    <div class="family">family</div>
  </div>
  <div class="col-md-6 outside_frame3">
    <div class="mate">mate</div>
  </div>
  <div class="col-md-6 outside_frame4">
    <div class="friend">friend</div>
  </div>
</div>
<br><br>
<ul class="nav nav-pills container">
  <li role="presentation" class="active"><a href="#">Follow</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>