@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "font-awesome";
@import "bootstrap-social";
@import "select2";
@import "select2-bootstrap";
/* post/index tab hover */
.nav > li > a:hover {
  background-color:#3a94ca;
  color: white;
}
/* post/index table hover */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e7f4fd;
}
/* fix login fb button */
.btn-facebook {
  color: white !important;
}
/* tooltip */
.tooltip > .tooltip-inner{
  background-color: #3a94ca;
  color: white;
  padding: 10px;
  font-size: 15px;
}
.tooltip.top > .tooltip-arrow{
  border-top: 5px solid #3a94ca;
}
.tooltip.left > .tooltip-arrow {
  border-left: 5px solid #3a94ca;
}
.tooltip.bottom > .tooltip-arrow{
  border-bottom: 5px solid #3a94ca;
}
.tooltip.right > .tooltip-arrow{
  border-right: 5px solid #3a94ca;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
  background-color: #3a94ca !important;
}
li.nav_n_p>a{
  padding:10px 5px 0 0 !important;
}
li.nav_n_p>a>img{
  width: 80%;
}
.sub_menu{
  box-shadow: 0px 5px 62px rgba(0,0,0,0.50);
  margin-bottom: 23px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: -20px;
}
/* modify navbar */
@media (min-width: 768px){
.navbar {
  border-radius: 0px;
}
}
.user_bar{
  margin: auto;
  width: 320px;
}
.signin{
  background:url("signin_background_map-01.jpg") no-repeat;
  background-size: cover;
}
.signup{
  background:url("signin background_map2-01.jpg") no-repeat;
  background-size: cover;
}
.signup_error_message{
  background-color: #f2dede;
  border:2px solid #f06354;
  color: #f06354;
  padding: 10px 150px;
  border-radius: 8px;
}
.login_block{
  /* border: 1px solid #3a94ca; */
  /* margin: 0 auto; */
  /* width: 460px; */
  /* background-color: white; */
  padding: 20px 15px;
}
[id^=p_l_post_],[id^=u_s_post_]{
  border-radius: 10px;
  margin:0 15px 25px 0;
  background-color:white;
  transition: all .4s ease;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  width: 210px;
}
[id^=p_l_post_]:nth-child(5n-0){
margin-right: 0px;
}
[id^=u_s_post_]:nth-child(5n-0){
margin-right: 0px;
}
[id^=p_l_post_]:hover,[id^=u_s_post_]:hover{
  box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
  transition: all .4s ease;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}
img.p_l_post_photo_area,img.u_s_post_photo_area{
  width: 210px;
}
.p_l_destination,.u_s_destination{
  width: 210px;
}
#landing_map{
  height: 500px;
  /* height: 100%; */
}
#map{
  height: 500px;
  /* height: 100%; */
}
.p_s_description{
  font-size: 19px;
  color: gray;
}
.user_show_divider:before{
  content: "";
  height: 2px;
  position: absolute;
  background: #c7d9e5;
  top: 50%;
  left: 0;
  right: 0;
}
.user_show_divider{
  margin: 30px 0;
  display: block;
  position: relative;
}
.user_show_divider>span{
  padding: 12px 40px;
  width: 40px;
  height: 40px;
  background: #fff;
  letter-spacing: 1px;
  position: relative;
  color:#3a94ca;
  font-size:26px;
}
.u_s_about{
  margin:0px auto;font-size:18px;word-wrap:break-word;
  width: 40%;
}
/* posts/index */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #3a94ca;
	color: white;
}
.p_i_photo{
  height:120px;
  overflow: hidden;
}
/* posts/landing */
.p_l_post_photo_area, .u_s_post_photo_area{
  height:150px;
  overflow:hidden;
}
.user_bar>ul>li>a{
  padding:4px 16px;
  border: 1px solid #3a94ca;
}
.user_bar>ul>li>.new{
  border-right: none;
  border-left: none;
}
/* rewrite line 131, /usr/local/lib/ruby/gems/2.2.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_navs.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #3a94ca;
}
.user_bar>.nav-pills > li > a{
  border-radius: 0px;
}
.user_bar>.nav-pills > li + li {
    margin-left: 0px;
}
.user_bar>ul>li>a:hover{
  background-color: #3a94ca !important;
  color: white !important;
}
/* post/show */
.main_location{
  margin: -20px 0 0 0;
}
.location_label{
  border: 1px solid grey;
  border-radius: 19px;
  display: inline;
  padding: 0 6px;
}
/* 480px */
@media only screen and (max-width: 480px) {
[id^=p_l_post_],[id^=u_s_post_]{
  border-radius: 10px;
  margin:0 0 25px 0;
  background-color:white;
  transition: all .4s ease;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  width:170px;
}
.p_l_post_photo,.u_s_post_photo{
  width: 170px;
}
img.p_l_post_photo_area,img.u_s_post_photo_area{
  width: 170px;
}
.p_l_destination,.u_s_destination{
  width: 170px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
.navbar-default .navbar-toggle{
  border-color: #3a94ca;
}
ul.nav.navbar-nav.navbar-right>li.dropdown.open>ul.dropdown-menu>li>a{
  color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #3a94ca;
}
.navbar-nav> .dropdown>.dropdown-toggle{
  width: 10%;
}
.navbar-header>a>img{
  width: 40%;
}
.u_s_about{
  width: 80%;
}
}
/* 767px */
@media (min-width: 481px) and (max-width: 767px) {
.navbar-header>a>img{
  width: 30%;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}
.navbar-default .navbar-toggle{
  border-color: #3a94ca;
}
ul.nav.navbar-nav.navbar-right>li.dropdown.open>ul.dropdown-menu>li>a{
  color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #3a94ca;
}
.navbar-nav> .dropdown>.dropdown-toggle{
  width: 10%;
}
.u_s_about{
  width: 70%;
}
}
@media (min-width: 1170px){
/* .table{
  table-layout:fixed;
} */
/* .p_i_all_post_photo_th,.p_i_published_post_photo_th,.p_i_draft_post_photo_th,.p_i_locked_post_photo_th,.p_i_favorites_post_photo_th,.p_i_trashcan_post_photo_th{
  width: 273px;
}
.p_i_all_post_author_th,.p_i_published_post_author_th,.p_i_draft_post_author_th,.p_i_locked_post_author_th,.p_i_favorites_post_author_th,.p_i_trashcan_post_author_th{
  width: 92px;
}
.p_i_all_post_date_th,.p_i_published_post_date_th,.p_i_draft_post_date_th,.p_i_locked_post_date_th,.p_i_favorites_post_date_th,.p_i_trashcan_post_date_th{
  width: 109px;
}
.p_i_all_post_country_th,.p_i_published_post_country_th,.p_i_draft_post_country_th,.p_i_locked_post_country_th,.p_i_favorites_post_country_th,.p_i_trashcan_post_country_th{
  width: 115px;
}
.p_i_all_post_destination_th,.p_i_published_post_destination_th,.p_i_draft_post_destination_th,.p_i_locked_post_destination_th,.p_i_favorites_post_destination_th,.p_i_trashcan_post_destination_th{
  width: 155px;
}
.p_i_all_post_origin_th,.p_i_published_post_origin_th,.p_i_draft_post_origin_th,.p_i_locked_post_origin_th,.p_i_favorites_post_origin_th,.p_i_trashcan_post_origin_th{
  width: 85px;
}
.p_i_all_post_distance_th,.p_i_published_post_distance_th,.p_i_draft_post_distance_th,.p_i_locked_post_distance_th,.p_i_favorites_post_distance_th,.p_i_trashcan_post_distance_th{
  width: 109px;
}
.p_i_all_post_favorite_th,.p_i_published_post_favorite_th,.p_i_draft_post_favorite_th,.p_i_locked_post_favorite_th,.p_i_favorites_post_favorite_th,.p_i_trashcan_post_favorite_th{
  width: 70px;
}
.p_i_all_post_locker_th,.p_i_published_post_locker_th,.p_i_draft_post_locker_th,.p_i_locked_post_locker_th,.p_i_favorites_post_locker_th,.p_i_trashcan_post_locker_th{
  width: 70px;
}
.p_i_all_post_trashcan_th,.p_i_published_post_trashcan_th,.p_i_draft_post_trashcan_th,.p_i_locked_post_trashcan_th,.p_i_favorites_post_trashcan_th,.p_i_trashcan_post_trashcan_th{
  width: 62px;
}
.p_i_trashcan_photo_th{

} */
}