<div class="clearfix"></div>
<%= image_tag "footersample1.png" %>
<p class="text-center" style="background-color: #7fb2f9;color:white;padding:10px 0;font-family:Monospace,Sans-serif,Times">
  &copy; MIIND DESIGN & ROY 2015-2016
</p>