<div class="clearfix"></div>
<div class="container">
  <br><br>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloremque maxime adipisci necessitatibus explicabo quae tempora odio nobis. Porro nesciunt laborum aut, illo id quae praesentium magni alias vitae, non.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quod praesentium fugiat nostrum, nesciunt assumenda. Necessitatibus sapiente amet sequi voluptatum deleniti veritatis eaque, iusto a numquam fugit facilis, aliquam nostrum.</p>
  </div>
  <div class="col-md-4">
    <div class="f_title" style="color: #7fb2f9;font-size: 17px;">
      What is Traveler Mark ?
    </div>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, repudiandae. Modi mollitia veritatis soluta, consequatur illum nam perferendis tempore aliquam, minima adipisci, distinctio est! Blanditiis corrupti, saepe. Dignissimos velit, dolorem!</p>
  </div>
</div>
<div class="clearfix"></div>
<br><br>
<%= image_tag "footersample1.png" %>
<p class="text-center" style="background-color: #7fb2f9;color:white;padding:10px 0;font-family:Monospace,Sans-serif,Times">
  &copy; MIIND DESIGN & ROY 2015-2016
</p>